#stage {
    height: 20vh
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    overflow:hidden;
}

@media only screen and (max-width: 500px) {
    footer {
        position: relative;
    }
    /*#stage {
        position: static;
    }*/
}