#stage {
    min-height:15vh;
    height: 15vh;
    background-color: blue;
    clear: both;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    overflow:hidden;
}

#prev {
    min-height: 15vh;
    background-color: yellow;
}

@media only screen and (max-width: 500px) {
    #jumbo {
        height: 20%;
    }
    footer {
        position: relative;
        height: 10%;
    }
    #stage {
        position: relative;
        height: 40%;
    }
}